name: couldai_user_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.2.0
  sqflite: ^2.3.2
  path: ^1.9.0
  cached_network_image: ^3.3.1
  flutter_local_notifications: ^17.0.0
  workmanager: ^0.5.2
  intl: ^0.19.0
  url_launcher: ^6.2.5
  google_fonts: ^6.1.0
  shimmer: ^3.0.0
  timezone: ^0.9.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
